p {
    margin: 0;
    padding: 0;
}

.home-page-container{
    margin: 24px;
}

.avatar-img{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.hero-heading{
    width: 100%;
    max-width: 216px;
}

.hero-heading h2{
    font-size: 25px;
    font-weight: 600;
    line-height: 120%;
}

.shop-heading h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 25px;
}

.shop-distance{
    font-weight: 600px;
}