.product-icon-container div {
  display: flex;
  flex-direction: column;
}

.shop-title-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.shop-detail-main{
  position: relative;
  overflow-x: hidden;
}

.shop-title-wrap a {
  margin-left: 6px;
}

.shop-title-wrap h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.shop-rating-wrap {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.slick-slider {
  position: sticky;
  z-index: -1;
  top: 0;
}

.slider-images{
  object-fit: cover;
  height: 334px;
  width: 100%;
}

.shop-details-container{
  padding: 0px 28px;
}

.home-page-redirect-wrap {
  position: absolute;
  left: 26px;
  height: 36px;
  width: 36px;
  top: 44px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-redirect-wrap span {
  font-size: 12px;
  color: #003b40;
}

.drawer-container {
  margin-top: -40px;
  background: white;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  overflow: scroll;
}

.enabled-footer-checkout{
  height: calc(100svh - 384px);
}

.disabled-footer-checkout{
  height: calc(100svh - 295px);
}

.category-icon-wrap {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-icon-container div {
  font-weight: 600;
  color: #b7c1c2;
}

.product-icon-container div.active {
  background-color: #edf0ef;
  border-radius: 27px;
  color: #003b40 !important;
}

.product-icon-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 30px;
  font-size: 18px;
}

.ant-drawer-header {
  display: none !important;
}

.ant-drawer-body {
  padding: 0px !important;
}

/* Disable the Ant Design Drawer animation */
.ant-drawer-bottom.ant-drawer-open {
  transition: none !important;
}

.ant-drawer-bottom .ant-drawer-content-wrapper {
  transition: none !important;
  border-top-left-radius: 56px !important; /* Adjust the radius as needed */
  border-top-right-radius: 56px !important;
  overflow: hidden;
}

.ant-drawer-bottom .ant-drawer-mask {
  transition: none !important;
}

.image-slider {
  width: 80%;
  margin: auto;
}

.image-slider img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.slick-list {
  height: 335px;
  z-index: -1 !important;
}

.slick-dots {
  position: absolute !important;
  bottom: 45px !important;
}

.slick-dots li button:before {
  color: white !important;
  font-size: 12px !important;
}

.product-details-wrap {
  margin-top: -40px;
  border-radius: 40px 40px 0 0;
}
