/* UserProfile.css */
.user-profile-container {
    padding: 24px;
    background: var(--secondary-color);
  }
  
  .profile-content {
    background: white;
    padding: 16px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .ant-page-header {
    background: var(--primary-color);
    color: var(--text-color);
  }
  
  .site-page-header {
    padding: 0;
  }
  
  .ant-form-item-label {
    color: var(--primary-color);
  }
  
  .ant-input-prefix svg {
    color: var(--primary-color);
  }
  