.shop-img-wrap{
  width: 100%;
  height: 168px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 14px;
}

.shop-img-wrap img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-details h4{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 7px;
}

.shop-card-main{
  position: relative;
}

.wishlist-button-wrap{
  position: absolute;
  top: -10px;
  right: -7px;
}

.wishlist-buttons{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #EDF0EF;
  display: flex;
  justify-content: center;
  border: 3px solid white;
}

.rating-wrap{
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.rating-wrap span:nth-child(2){
  color: #B7C1C2;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .shop-img-wrap{
    height: 300px;
  }
}


@media (min-width: 992px) {
  .shop-img-wrap{
    height: 500px;
  }
}